.mainNav#mainNavWrapper {
    width: 100%;
    color: #8e8b8a ;
    margin: auto;
}

.mainNav#mainNavbar {
    color: #8e8b8a ;
    margin: auto 0;
}

.mainNav {
    color: #8e8b8a ;
    
}

.landing {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.landingImage {
    width: 700px;
    height: 500px;
}
.landingInfo {
    margin: auto 0;
}


.errorAlert {
    margin: 0 auto;
    max-width: 320px;
}

.logoBrand {
    width: 70px;
}
