.redButton, .redButton:hover, .redButton:active, .redButton:visited, .redButton:focus  {
    background-color: rgb(221, 67, 67) !important;
    outline: none !important;
    border-style: none !important;
    box-shadow: none !important;
}