.mainNav#mainNavWrapper {
    color: #8e8b8a ;
}

.mainNav#mainNavbar {
    color: #8e8b8a ;
}

.mainNav {
    color: #8e8b8a ;
}

.landingImage {
    width: 100%;
    height: 100%;
}


.errorAlert {
    margin: 0 auto;
    max-width: 320px;
}

.logoBrand {
    width: 70px;
}
