.btn, .btn:hover, .btn:active, .btn:visited, .btn:focus  {
    background-color: rgb(221, 67, 67) !important;
    outline: none !important;
    border-style: none !important;
    box-shadow: none !important;
}
